fastapi
uvicorn
azure-messaging-webpubsubservice
azure-messaging-webpubsubclient
python-dotenv
pydantic
pydantic-settings
aiohttp
azure-cosmos
python-dotenv
vonage
azure-servicebus
azure-identity
pytest
pytest-asyncio 
httpx
websockets 
pydub
ffmpeg-python