fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
aiohttp
azure-cosmos
python-dotenv
vonage
azure-servicebus
azure-identity
azure-storage-blob
pytest
pytest-asyncio 
httpx
websockets 
pydub
ffmpeg-python
wave