fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
azure-cosmos
azure-servicebus
azure-identity==1.7.0
azure-core==1.26.0
azure-storage-blob
vonage
pytest
pytest-asyncio
aiohttp 
websockets 
opencensus-ext-azure
