.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #eff5f5;
  color: #28574f;
}

.table-striped td,
.table-striped th {
  border: none;
}

.mintgreen {
  background-color: #eff5f5;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
  padding-left: 0.7%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #28574f;
 
}

.optionsGrid {
  display: grid;
  grid-template-columns: 300px 300px;
}

.optionsDetailsGrid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 25px;
}

.metadataGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

label {
  font-weight: bold;
}

* {
  color: #28574f;
}

.tableHeading{
  background-color: #28574f;
}

.row{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.check{
  accent-color: #28574f;
  margin-right: 10px;
}